@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  background-color: #bee3f8;
  color: black;
}

:root{
  --background-color : #171717;
  --foreground-color : #ffffff;
  --primary-text-color : black;
  --secondary-text-color : white;
}

[data-theme="dark"] {
  --background-color: #171717;
  --foreground-color: black;
  --primary-text-color: white;
  --secondary-text-color: white;
  --toggle-bg: black;
  --toggle-fg: white;
}

[data-theme="light"] {
  --background-color: white;
  --foreground-color: black;
  --primary-text-color: black;
  --secondary-text-color: black;
}

.nav {
  background-color: var(--background-color);
  color: var(--primary-text-color);
}
